/* VARIAVEIS DE COR */
:root {
    --azul_mais_claro: #d4eaf7;
    --azul_normal: #71c4ef;
    --azul_escuro: #00668c;
    --azul_mais_escuro: #313d44;
    --branco: #fffefb;
    --cinza_claro: #f5f4f1;
    --conza_escuro: #cccbc8;
    --cor_letras: #1d1c1c;
    --font_tittle: "Bebas Neue", sans-serif;
    --font_text: "Oswald", sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font_text);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: var(--branco);
    height: 100vh;
}

main {
    padding: 40px;
}


.flex{
    display: flex;
}

.btn-config button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 400;
    width: 200px;
    color: var(--azul_mais_claro);
    background-color: var(--azul_escuro);
    /* tirando as bordas */
    border-color: var(--azul_mais_escuro);
    /* deixando as bordas arredondadas */
    border-radius: 10px;
    /* mudança de cursos */
    cursor: pointer;
    transition: .2s;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px var(--azul_mais_claro);
    transform: scale(1.05)
}

h2.titulo{
    color: var(--azul_escuro);
    font-size: 40px;
    text-align: center;
}

h2.titulo span{
    color: var(--azul_normal);
}

/*  */
/*  */
/*  */
/* ESTILO DO ASIDE */
aside {
    background-color: var(--azul_mais_claro);
    height: 110vh;
    width: 300px;
    border-radius: 0px 20px 20px 0px;
    /* flex: 1; */
}

aside .container-aside {
    color: var(--azul_escuro);
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    margin-top: 50px;
}

aside .container-aside span {
    color: var(--cor_letras);
}

aside .container-aside .logo-clube img{
    width: 70%;
    border-radius: 30px;
    margin-top: 50px;
}


aside .container-aside .btn-config {
    margin-top: 50px;
}

/*  */
/*  */
/*  */
/* ESTILO DO CABEÇALHO */
header{
    padding: 10px 4%;
}

/* ele busca diretamente com o '>' o elemento dentro do header */
header > .cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: var(--cor_letras);
    /* tirando o sublinhado */
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

/* a ':hover' serve para ativar a função do passar o mouse na string */
header a:hover{
    color: var(--azul_normal);
    transform: scale(1.05);
}

header nav ul{ 
    list-style-type: none; 
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


/*  */
/*  */
/*  */
/* ESTILO DO SLIDESHOW  */
section.carrosel .content-slideshow {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 20%;
}

.content-slideshow .slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.content-slideshow .slides input {
    display: none;
}

.content-slideshow .slide {
    width: 20%;
    transition: .6s;
}

.content-slideshow .slide img{
    width: 100%;
    height: 100%;
}

/* PEGANDO O ID DOS SLIDES E FAZENDO A MUDANÇA DE IMAGEM */
.slides #slide1:checked ~ .s1 {
    margin-left: 0;
}

.slides #slide2:checked ~ .s1 {
    margin-left: -20%;
}

.slides #slide3:checked ~ .s1 {
    margin-left: -40%;
}

.content-slideshow .navigation {
    position: absolute;
    bottom: 300px;
    left: 57%;
    transform: translate(-50%);
    display: flex;
}

.navigation .bar{
    width: 70px;
    height: 17px;
    border: 2px solid var(--cor_letras);
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.navigation .bar:hover {
    background-color: var(--cor_letras);
    width: 90px;
    height: 20px;
}



/* .. */
/* .. */
/* .. */
/* PRODUTOS */
section.products{
    padding: 40px 4%;
}

section.products .flex{
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.products .anuncOne{
    margin-top: 20px;
}

.products .ingresso-img{
    position: absolute;
}

.products .ingresso-img img{
    width: 300px;
}

.products .informations{
    margin-left: 400px;
    margin-top: 80px;
}

.products .informations i{
    color: var(--azul_escuro);
}

.products .informations .buttons a{
    text-decoration: none;
    color: var(--azul_normal);
    margin-left: 15px;
}

.products .informations button{
    margin-top: 40px;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--azul_normal);
    /* tirando as bordas */
    border: 0;
    /* deixando as bordas arredondadas */
    border-radius: 30px;
    /* mudança de cursos */
    cursor: pointer;
    transition: .2s;
}

@media only screen and (max-device-width: 1910px) {
    .navigation {
        margin-bottom: 148px;
    }
}

@media only screen and (max-device-width: 1772px) {
    .content-slideshow .navigation {
        left: 60%;
    }
}

@media only screen and (max-device-width: 1608px) {
    .content-slideshow .navigation {
        left: 63%;
    }
}

@media only screen and (max-device-width: 1525px) {
    section.carrosel .content-slideshow{
        margin-left: 11%;
    }

    .content-slideshow .navigation {
        left: 57%;
    }

    .products .informations {
        margin-left: 344px
    }
}

@media only screen and (max-device-width: 1370px) {
    .content-slideshow .navigation {
        left: 63%;
    }

}

@media only screen and (max-device-width: 1316px) {
    .navigation {
        margin-bottom: 188px;
    }

    .content-slideshow .navigation {
        left: 57%;
    }

    section.carrosel .content-slideshow {
        width: 766px;
        height: 470px;
    }

    .products .informations {
        margin-left: 304px
    }
}


@media only screen and (max-device-width: 412px) {
    main {
        margin: 6px 0px 0px 0px !important; 
    }

    .flex {
        display: flex;
        flex-direction: column;
    }

    aside {
        width: 100%;
        height: 78vh;
        border-radius: 0px 0px 0px 0px;
    }

    section.carrosel .content-slideshow {
        width: 372px;
        height: 242px;
    }

    section.carrosel .content-slideshow {
        margin-left: -5%;
    }

    .navigation {
        margin-bottom: 0px;
    }

    .content-slideshow .navigation {
        left: 49%;
        top: 120%;
    }


    .products .ingresso-img img {
        width: 202px;
        margin-left: 68px;
        margin-top: 50px;
    }

    .products .informations {
    margin-left: 304px;
    margin-right: 52px;
    }
}

@media only screen and (max-device-width: 390px) {

    section.carrosel .content-slideshow {
        margin-left: -6%;
    }

    section.carrosel .content-slideshow {
        width: 362px;
        height: 232px;
    }

    aside .container-aside {
        margin-top: 0px;
    }

    aside .container-aside .btn-config {
        margin-top: 17px;
    }

    .products .informations {
        margin-left: 282px;
    }
}






@media only screen and (max-device-width: 384px) {
    aside .container-aside {
        margin-top: 0px;
    }

    .products .informations {
        margin-left: 282px;
    }
}